# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# Spring Boot
*.log
*.tmp
*.out

# IDEs
### IntelliJ IDEA ###
.idea/
*.iml
out/

### Eclipse ###
.project
.classpath
.settings/

### VS Code ###
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Otros
*.swp
